@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Work Sans';
    background-color:orange
}

main {
    background-color: whitesmoke;
    padding: 1em;
    margin:0.5em;
    margin-top:2em;
    border-radius: 1em;
}

h1 {
    font-weight: 800;
    background-color:orangered;
    border-radius: 0.5em;
    margin:1em;
    margin-top:0.5em;
    padding: 1em;
    color:rgb(255, 220, 124);
    text-align: center;
    text-shadow: 0.1em 0.1em rgb(223, 100, 0);
}

h2 {
    font-size: 1.7em;
    font-weight: 600;
    color:rgb(189, 50, 0);
}

span#emphasis {
    font-weight: 700;
    font-style:italic;
}

p {
    font-size: 1.15em;
    color:rgb(73, 20, 0);
    text-indent: 1em;
}
